<p>appointment-view works!</p>
<div class="card" *ngIf="app != null">
    <div class="card-header">
        Product ID: {{app.ownerIdCardNumber}}
    </div>

    <div class="card-body">
        
        <div class="row">
            <div class="col-md-2">Pet Name:</div>
            <div class="col-md-10">{{app.patientName}}</div>
        </div>

        <div class="row">
            <div class="col-md-2">animalType:</div>
            <div class="col-md-10">{{app.animalType}}</div>
        </div>

        <div class="row">
            <div class="col-md-2">ownerName:</div>
            <div class="col-md-10">{{app.ownerName + app.ownerSurname}}</div>
        </div>

        <div class="row">
            <div class="col-md-2">Duration:</div>
            <div class="col-md-10">{{app.appointmentDuration}}</div>
        </div>


    </div>
</div>

<div class="mt-2">
    <button type="button" class="btn btn-primary" (click)="onBackButtonClick()">
        Back to Product List
    </button>
</div>